# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

In [22]:
# Создаем функцию и передаем 2 параметра

def create_pivot_table(data, index):
    
    # Создаем сводную таблицу
    pivot_table = data.pivot_table(
        index=index, 
        values='debt', 
        aggfunc=['count', 'sum', 'mean']
    )
    
    # Возвращаем результат
    return pivot_table.style.format({('mean', 'debt'): '{:.2%}'})


# Теституруем в неполном варианте, тоже будет работать

create_pivot_table(data, 'children')

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Ранее мы проанализировали уникальные значения столбца `children` (количество детей). На данном этапе исследования необходимо рассчитать, какое количество задолженностей приходится на каждое уникальное значение столбца `children`. Для этого необходимо просуммировать значения столбца `debt` в зависимости от количества детей.

Но для корректного расчета необходимо понимание, какие уникальные значения содержаться в столбце `debt`

In [23]:
print(data['debt'].unique())

[0 1]

Соответственно, ошибки при расчетах быть не должно и аномальных значений нет.

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

In [25]:
# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

Сформируем значения количества должников и заемщиков по каждой категории столбца `children`. Переименуем столбец `children` в `Количество детей`.

In [26]:
#изменяем наименование столбца 'children' для лучшего восприятия
data = data.rename(columns = {'children': 'Количество детей'})

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Количество детей', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

В группах 3,4 и 5 детей малое количество наблюдений. Объединим данные группы в одну.

In [27]:
#создадим функцию для объединения по категориям
def children_category(children):
    try:
        if children==3 or children==4 or children==5:
            return '3+'
        elif children==2:
            return '2'
        elif children==1:
            return '1'
        elif children==0:
            return '0'
    except:
        return 'нет категории'
data['Категория количества детей'] = data['Количество детей'].apply(children_category)

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Категория количества детей', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

**Вывод:**

<div style="border:solid green 2px; padding: 20px">
Наблюдается зависимость между количеством детей и возможностью возврата кредита по группам бездетные заемщики, заемщики с одним ребенком и двумя. Группа с количеством дете 3+ имеет малое количество наблюдений и не репрезентативна.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Теперь необходимо выявить или подтвердить отсутствие зависимости между семеным положением заемщика и возврата кредита в срок.

Проанализируем уникальные значения в столбце `family_status`

In [28]:
print(data['family_status'].unique())

['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']

Артефактов и аномалий не присутствует. Анализ можно проводить.

Сфомируем количество заемщиков и количество должников по каждой группе семейного статуса. Переименуем столбец `family_status` в `Семейное положение`.

In [29]:
#изменяем наименование столбца 'family_status' для лучшего восприятия
data = data.rename(columns = {'family_status': 'Семейное положение'})

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Семейное положение', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

Группы `в разводе` и `вдовец / вдова` имеют малое количество наблюдений. Объединим данные из этих групп с данными из группы `женат/замужем`. Создадим две категории: `состояли/состоят в браке` и `не состояли в браке`.

In [30]:
#создадим функцию для объединения по категориям
def family_category(status):
    try:
        if status=='женат / замужем' or status=='в разводе' or status=='вдовец / вдова':
            return 'состояли/состоят в браке'    
        elif status=='Не женат / не замужем' or status=='гражданский брак':
            return 'не состояли в браке'
    except:
        return 'нет категории'
data['Категория семейного положения'] = data['Семейное положение'].apply(family_category)

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Категория семейного положения', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

**Вывод:**

<div style="border:solid green 2px; padding: 20px">
У заемщиков, которые состояли в браке, наблюдается меньшее количество задолженностей в процентном соотношении. Вероятно, это связано с тем, люди, находясь в браке на данный момент или находившиеся в браке ранее, понимают, что последствия невозврата задолженности скажется не только на них самих, но и на членах семьи в соответствии, как минимум, с законодательством страны.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Изначально предполагается, что людям с большим уровнем дохода гораздо проще погасить кредит. Но люди с большим уровнем дохода также не всегда сопоставляют свои желания с возможностями. Проведем анализ, чтобы подвердить тут или иную гипозитезу. В качестве напоминания:
- заемщики с доходом 0–30000 — категория `'E'`;
- заемщики с доходом 30001–50000 — категория `'D'`;
- заемщики с доходом 50001–200000 — категория `'C'`;
- заемщики с доходом 200001–1000000 — категория `'B'`;
- заемщики с доходом 1000001 и выше — категория `'A'`.

Проанализируем количество должников и заемщиков для каждой категории доходов. Переименуем столбец `total_inocme_category` в `Доход`.

In [31]:
#изменяем наименование столбца 'total_income_category' для лучшего восприятия
data = data.rename(columns = {'total_income_category': 'Доход'})

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Доход', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

Категории `A`, `E` и `D` имеют малое количество наблюдений для выявления зависимости. Объединим категории `A` и `B`, а также категории `C`,`D` и `E`.

In [32]:
#создадим функцию для объединения по категориям
def income_category(income):
    try:
        if income=='A' or income=='B':
            return 'A,B'    
        elif income=='C' or income=='D' or income=='E':
            return 'C,D,E'
    except:
        return 'нет категории'
data['Категория дохода'] = data['Доход'].apply(income_category)

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Категория дохода', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

**Вывод:**

<div style="border:solid green 2px; padding: 20px">
Предположение подтвердилось. Наиболее проблемными являются заемщики с меньшим доходом. Банку нужно быть очень осторожным с этой группой. У них самый большой уровень невозврата. Может возникнуть ситуация, когда у заемщика не будет никакой возможности вернуть кредит. Необходимо дополнительно уточнять наличие активов, которые могут быть реализованы для погашения долга. Хотя и это проблематично в условиях законодательства страны.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

В данной части исследования нельзя сделать никаких предположений. Предполагается, что свадьба и образование - заведомо проигрышные варианты для кредита, в отличии от приобретения автомобиля и недвижимости, которые могут работать в качестве актива заемщика, принося доход.

In [33]:
#изменяем наименование столбца 'purpose_category' для лучшего восприятия
data = data.rename(columns = {'purpose_category': 'Цель кредита'})

# Создание сводной таблицы с расчетом количества, суммы и среднего значения
pivot_table = data.pivot_table(index='Цель кредита', values='debt', aggfunc=['count', 'sum', 'mean'])
    
# Переименуем колонки для удобства
pivot_table.columns = ['Количество заемщиков', 'Количество должников', 'Процент просрочивших кредит']
                                                                         
# Сортировка по столбцу "Процент просрочивших кредит"
pivot_table = pivot_table.sort_values(by='Процент просрочивших кредит', ascending=False)                                                                         

# Форматирование среднего значения как процент
pivot_table.style.format({('Процент просрочивших кредит'): '{:.2%}'})

**Вывод:**

<div style="border:solid green 2px; padding: 20px">
Часть предположения все-таки подтвердилась. У операций с недвижимостью наименьший процент невозвратов. Предположительно, это связано с тем, что недвижимость может использоваться как актив, приносящий доход. Тут банку было бы хорошо внести дополнительное исследование, на какой тип недвижимости берется кредит (доходоприносящий или нет). Возможно, раскрытие этих данных поможет снизить процент невозвратов. Две группы 'получение образования' и 'проведение свадьбы' свет на ситуацию не проливают. Необходимо проводить более детальный анализ типа заемщика, доходов и пр. 'Операции с автомобилем' - самая большая группа по невозврату кредитов. Вероятно, автомобили в данном случае используются именно, как собственное средство передвижения, а не как часть бизнеса.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*

<div style="border:solid green 2px; padding: 20px">
Основная проблема, вероятно, состоит в том, что эти данные не были внесены самим заемщиком. На втором месте по вероятности, что эти данные не были внесены специалистом банка. Проблему исправит отладка программного обеспечения по принципу: есть пропуски в данных, заявление на кредит не отправляется на обработку. Но тут возможен риск появления артефактов, с которыми предстоит в дальнейшем работать. Необходимо также обратить внимание на работу прогрраммного обеспечения, при помощи которого данные вводятся в систему. Внимание вызывает то, что количество пропусков одинаковое. Это все-таки либо техническая особенность программного обеспечения, с которым нужно работать, либо человек не хотел/забыл внести данные.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*

<div style="border:solid green 2px; padding: 20px">
Медиана устойчивее к выбросам данных, которые значительно отличаются от основного массива выборки. В наборе данных с равномерным распределением небольшое число экстремальных значений, таких как очень высокие или низкие числа, значительно повлияет на среднее арифметическое, а медиана в таком случае останется относительно стабильной.
Среднее значение не учитывает разброс. Соответственно, среднее значение является менее показательным.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

<div style="border:solid green 2px; padding: 20px">
В рамках исследования необходимо было разобраться, влияет ли семейное положение, уровень дохода, цель кредита и количество детей у заемщика на факт погашения кредита в срок.
    
В результате исследования были реализованы следующие этапы, и сделаны определенные наблюдения и выводы:

**удаление пропусков:** обнаружены пропуски в двух столбцах `days_employed` и `total_income`. Необходимо обратить внимание на этот момент. Количество пропусков в столбцах одинаково. Это может быть результатом либо человеческого фактора, либо баг в программном обеспечении. В первом случае проблему исправит отладка программного обеспечения по принципу: есть пропуски в данных, заявление на кредит не отправляется на обработку. Но тут возможен риск появления артефактов, с которыми предстоит в дальнейшем работать. Пропуски в столбцах `days_employed` и `total_income` были заменены медианными значениями, т.к. медиана устойчивее к выбросам данных, которые значительно отличаются от основного массива выборки. 

**артефакты и аномалии:** у двух типов (безработные и пенсионеры) выявлены аномально большие значения медианного уровня дохода, а в столбце `children` обанаружены не только слишком большие значения, которые вызывают сомнения, но и отрицательные, чего быть не может. Медианный уровень дохода в группах 'безработные' и 'пенсионеры' в данном исследовании не рассматривался. Наблюдения с артефакторными значениями из группы `children` были исключены.
    
**замена вещественного типа данных:** в столбце `total_income` обнаружен тип значений float64. Для дальнейшей обработки тип значений был заменен на целочисленный int.
    
**приведение данных к единому регистру:** для полноценной обработки данных значения столбцов были приведены к единому (нижнему) регистру (в частности у столбца `education`).
    
**удаление дубликатов:** в данных обнаружены дубликаты (71 запись). Для дальнейшей качественной обработки и получения верных данных дубликаты были удалены. Был применен метод `duplicated()`, дубликаты были полными. Применение поиска дубликатов только по столбцам может привести к искажению результатов. Появление таких дубликатов также возможно в результате человеческого фактора и машинного сбоя.
    
**категоризация доходов:** в столбце значений `total_income` слишком много различных значений. Было принято решение объединить значениия в 5 категорий:
    
    - 0–30000 — 'E';
    - 30001–50000 — 'D';
    - 50001–200000 — 'C';
    - 200001–1000000 — 'B';
    - 1000001 и выше — 'A'.
    
**категоризация целей кредита:** ввиду того, что заемщики обычно сами формулируют цель кредита, то записи в столбце `purpose` могут быть различными, что усложняет исследование. Но, как показал анализ предоставленных данных, имеются обобщающие слова, по которым можно объединить данные в 4 группы:
    
    - 'операции с автомобилем',
    - 'операции с недвижимостью',
    - 'проведение свадьбы',
    - 'получение образования'.
    
Это и было сделано. В категорию 'операции с автомобилем' попали цели, в которых содержалась подстрока "авто", в категорию 'операции с недвижимостью' - цели с содержанием подстрок "недвиж" и "жил", в категорию 'проведение свадьбы' - цели с содержанием подстроки "свад", в категорию 'получение образования' - цели с содержанием подстроки "образов".
    
**выявление зависимости (или ее отсутствия) между количеством детей у заемщика и возвратом кредита в срок:** в результате анализа была выявлена зависимость между количеством детей и возвратом кредита в срок. Особо показательными оказались группы бездетных заемщиков, заемщиков с 1 ребенком  и заемщиков с 2 детьми. Увеличение количества детей у заемщика может привести к сложностям в возврате кредита. В частности, выведены следующие итоги по объему должников на общее количество заемщиков в группе:
    
    - бездетные заемщики - 7,54%,
    - заемщики с 1 ребенком - 9,23%,
    - заемщики с 2 детьми - 9,45%.
    
**выявление зависимости (или ее отсутствия) между семейным положением заемщика и возвратом кредита в срок:** в результате анализа была выявлена зависимость между семейным положением заемщика и возвратом кредита в срок. Выяснилось, что заемщики, состоявшие ранее в браке и состоявшие в браке на момент получения кредита, более ответственно подходят к возврату долга. В частности, объем должников на общее количество заемщиков в группе составляет:
    
    - не состояли в браке - 9,49%,
    - состояли/состоят в браке - 7,46%.
    
**выявление зависимости (или ее отсутствия) между уровнем дохода и возвратом кредита в срок:** выявлено, что заемщики с меньшим доходом чаще являются должниками ,чем заемщики с большим доходом. В частности, выведены следующие итоги по объему должников на общее количество заемщиков в группе:
    
    - категории C,D и E - 8,45%,
    - категории А и В - 7,06%.
    
Банку нужно быть очень осторожным с группой с меньшим доходом. Может возникнуть ситуация, когда у заемщика не будет никакой возможности вернуть кредит. Необходимо дополнительно уточнять наличие активов, которые могут быть реализованы для погашения долга. Хотя и это проблематично в условиях законодательства страны.
    
**выявление зависимости (или ее отсутствия) между целью кредита и возвратом кредита в срок:** ранее было выявлено 4 категории для целей кредита:
    
    - 'операции с автомобилем',
    - 'операции с недвижимостью',
    - 'проведение свадьбы',
    - 'получение образования'.
    
Выявлено, что заемщики, берущие кредит на недвижимость более ответственно подходят к возврату долга, в отличии от остальных групп заемщиков. В частности, объем должников на общее количество заемщиков в группе составляет:
    
    - 'операции с автомобилем' - 9,35%,
    - 'получение образования' - 9,25%,
    - 'проведение свадьбы' - 7,91%,
    - 'операции с недвижимостью' - 7,26%.
    
**Таким образом, банку следует обратить внимание, что заемщики с двумя детьми и более, не состоявшие в браке, с небольшим доходом и берущие кредит на автомобиль, имеют большую вероятность стать должникам. Сочетание же этих факторов должно приводить к более детальному изучению заемщика с целью выявления вероятности невозврата кредита**